{{ $img := "" }}
{{ $hasImg := false }}
{{ $img = partial "func/thumbnail" . | strings.TrimSpace }}
{{ if strings.ContainsNonSpace $img }}
    {{ $hasImg = true }}
{{ else }}
    {{ $hasImg = false }}
{{ end  }}

<article class="small">
    <h5 class="row left-align">{{ .LinkTitle }} </h5>
    <a href="{{ .RelPermalink }}">
        {{ if $hasImg }}
        <div class="padding">
            <img class="circle small" src="{{ $img | safeURL }}">
        </div>
        {{ end }}
            {{ partial "components/title_meta" (dict "page" . "use_chip" false) }}         
    </a>
</article>
