
{{ range site.Params.regex_folders }}
    {{ with .vendor }}
        {{ range .jsmodules }}
            {{ partial "head/js_vendor.html" (dict "src" . "module" true) }}
        {{ end }}
        {{ range .js }}
            {{ partial "head/js_vendor.html" (dict "src" . "module" false) }}
        {{ end }}
    {{ end }}
{{ end }}
{{ partial "head/importmap.html" . }}
{{ range site.Params.regex_folders }}
    {{ with .custom }}
        {{/* TODO auto import */}}
        {{ range .jsmodules }}
            {{ partial "head/ts_js_custom.html" (dict "src" . "module" true) }}
        {{ end }}
        {{ range .js }}
            {{ partial "head/ts_js_custom.html" (dict "src" . "module" false) }}
        {{ end }}
    {{ end }}
{{ end }}

